<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/Theme.AndroidDateTimeFormatters.Demo"
      android:allowBackup="false"
      android:supportsRtl="true"
      tools:ignore="AllowBackup,DataExtractionRules,GoogleAppIndexingWarning">

    <activity
        android:name=".DemoActivity"
        android:exported="true"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>

</manifest>
